In [168]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [9]:
df1 = pd.read_table('DataSet1__24Apr2018.txt', sep=' ')
df2 = pd.read_table('DataSet2_24Apr2018.txt', sep=' ')
df3 = pd.read_table('DataSet3__24Apr2018.txt', sep=' ')
df4 = pd.read_table('DataSet4__24Apr2018.txt', sep=' ')

In [10]:
df1.head()

,CommunityCode,CommunityZipCode,ProspectID,AgeatInquiry,CareLevel,Gender,Marital,Veteran,CurrentResidence,ZipCode,...,RequestedVisit,NoCall,NoEmail,InquiryDate,ReferralCompany,ProjectedMoveIn,DeactDate,DeactReason,NotQual,CurrentStatus
0,731.0,54311.0,0f0d9652-7697-4d03-84da-000137b878db,NaN,A,Female,NaN,False,NaN,NaN,...,False,False,False,2011-04-15 17:54:00,SeniorLiving.net,NaN,2012-09-18 05:00:00,Request Removal,NaN,Deactivated
1,415.0,60010.0,59a04927-19ee-42de-840f-545a4e8b5533,77.0,I,Female,Widow,False,Living at Home,NaN,...,False,False,True,2012-12-17 20:29:00,A Place for Mom,NaN,2013-01-19 06:00:00,NaN,NaN,Deactivated
2,491.0,30052.0,87305eb0-2ed2-430c-9b4e-00019a38134a,NaN,NaN,Female,NaN,False,NaN,NaN,...,False,False,True,2014-09-23 04:00:00,A Place for Mom,NaN,2014-12-17 05:00:00,Duplicate Lead,NaN,Deactivated
3,775.0,33462.0,50dd6777-4333-48bb-9ac5-00041d493ef0,NaN,NaN,Female,NaN,False,NaN,NaN,...,False,True,True,2013-10-17 04:00:00,Caring.com,NaN,2013-10-17 04:00:00,Duplicate Lead,NaN,Deactivated
4,492.0,33021.0,f7ce16ab-bbaf-45ae-be5b-0004e020269f,NaN,A,Female,NaN,False,NaN,NaN,...,False,False,True,2013-10-22 04:00:00,Caring.com,NaN,2014-12-24 05:00:00,Not Qualified,NaN,Deactivated

In [11]:
df2.head()

                             ProspectID         Activity           dtActivity
0  00004e5d-d6ca-e511-80ef-3863bb36cca0  Personal Letter  2016-02-09 08:00:00
1  00004e5d-d6ca-e511-80ef-3863bb36cca0             Call  2016-03-05 08:00:00
2  00004e5d-d6ca-e511-80ef-3863bb36cca0            Email  2016-02-03 18:29:36
3  00004e5d-d6ca-e511-80ef-3863bb36cca0             Call  2016-03-24 07:00:00
4  00004e5d-d6ca-e511-80ef-3863bb36cca0            Email  2016-03-24 07:00:00

In [12]:
df3.head()

,ProspectID,ResidentID,dtmovein,dtmoveout,istatus,ireason
0,a8e02699-058a-40ff-a9a3-e86e78b9607b,1022063,06/10/2016,NaN,Current,NaN
1,2cdbeff6-6206-e611-80f6-3863bb2eb148,1022071,04/26/2016,04/19/2018,Moved Out,Death
2,340841d3-7e9e-e511-80eb-3863bb36cca0,1022120,04/29/2016,07/16/2016,Moved Out,Death
3,9b5db00a-06e7-e511-80fb-3863bb367d10,1022130,02/06/2017,NaN,Current,Unknown
4,b2d87f80-92e7-e511-80f3-3863bb2e0220,1022136,04/26/2016,NaN,Current,Unknown

In [14]:
df4.head()

   ResidentID ServiceType RateType    FromDate      ToDate  Amount
0      432484          RB      MLY  04/30/2012  12/31/2012  3850.0
1      432484          CS      MLY  05/01/2012  11/27/2012  1000.0
2      367652          RB      MLY  05/03/2012  08/14/2012  3328.0
3      434498          RB      MLY  05/08/2012  07/05/2012  3500.0
4      434498          CS      MLY  05/09/2012  06/05/2012  2576.0

In [24]:
df1.shape

(178478, 24)

In [26]:
# checking for uniqueness in prospectID column:
print(len(df1['ProspectID'].unique()))
print(len(df2['ProspectID'].unique()))
print(len(df3['ProspectID'].unique()))

178478
143069
5678

In [48]:
df2_piv = pd.pivot_table(df2, index='ProspectID', columns=['Activity'], aggfunc=np.size, fill_value=0)

In [50]:
df2_piv.reset_index(inplace=True)

In [51]:
df2_grp = df2_piv.groupby('ProspectID').sum()

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/pandas/core/base.py:320: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  return self.obj.drop(self.exclusions, axis=1)

In [63]:
df2_grp.head()

                                     index dtActivity                       \
Activity                                   Assessment Call Community Event
ProspectID
00004e5d-d6ca-e511-80ef-3863bb36cca0     0          0    2               0
00005ac8-1d93-e611-80e9-5065f38a3b81     1          0    0               0
0000d788-d370-e411-bfcd-6c3be5a8a144     2          0    4               0
00022c39-0826-45c3-969d-653e1cd0e652     3          0    1               0
0002bef2-ff5f-e611-8106-3863bb2eb148     4          0    1               0

                                                                    \
Activity                             Email Gift Mass Communication
ProspectID
00004e5d-d6ca-e511-80ef-3863bb36cca0     2    0                  0
00005ac8-1d93-e611-80e9-5065f38a3b81     1    0                  0
0000d788-d370-e411-bfcd-6c3be5a8a144     8    0                  0
00022c39-0826-45c3-969d-653e1cd0e652     0    0                  0
0002bef2-ff5f-e611-8106-3863bb2eb148     2    0                  0

                                                                              \
Activity                             Personal Letter Short Stay Text Message
ProspectID
00004e5d-d6ca-e511-80ef-3863bb36cca0               1          0            0
00005ac8-1d93-e611-80e9-5065f38a3b81               0          0            0
0000d788-d370-e411-bfcd-6c3be5a8a144               0          0            0
00022c39-0826-45c3-969d-653e1cd0e652               0          0            0
0002bef2-ff5f-e611-8106-3863bb2eb148               0          0            0


Activity                             Tour Visit
ProspectID
00004e5d-d6ca-e511-80ef-3863bb36cca0    1     0
00005ac8-1d93-e611-80e9-5065f38a3b81    0     0
0000d788-d370-e411-bfcd-6c3be5a8a144    0     0
00022c39-0826-45c3-969d-653e1cd0e652    0     0
0002bef2-ff5f-e611-8106-3863bb2eb148    0     0

In [69]:
df2_grp.columns=['Index', 'Assessment', 'Call', 'Community Event', 'Email', 'Gift', 'Mass Communication', 'Personal Letter', 
                'Short Stay', 'Text Message', 'Tour', 'Visit']

df2_grp.drop(labels='Index', inplace=True, axis=1)

In [70]:
df2_grp.head()

,Assessment,Call,Community Event,Email,Gift,Mass Communication,Personal Letter,Short Stay,Text Message,Tour,Visit
ProspectID,,,,,,,,,,,
00004e5d-d6ca-e511-80ef-3863bb36cca0,0,2,0,2,0,0,1,0,0,1,0
00005ac8-1d93-e611-80e9-5065f38a3b81,0,0,0,1,0,0,0,0,0,0,0
0000d788-d370-e411-bfcd-6c3be5a8a144,0,4,0,8,0,0,0,0,0,0,0
00022c39-0826-45c3-969d-653e1cd0e652,0,1,0,0,0,0,0,0,0,0,0
0002bef2-ff5f-e611-8106-3863bb2eb148,0,1,0,2,0,0,0,0,0,0,0

In [116]:
df_ana = pd.merge(df1, df2_grp, how='left', left_on='ProspectID', right_index=True)
df_ana.shape

(178478, 35)

In [117]:
df_ana['converted'] = df_ana['ProspectID'].isin(df3['ProspectID'])

In [118]:
dums = pd.get_dummies(df_ana[['Budget', 'CareLevel', 'Gender', 'Marital', 'Veteran', 'CurrentResidence', 'UnitPreference', 
                             'ProvidedEmail', 'ProvidedPhone', 'RequestedVisit', 'NoCall', 'NoEmail', 'ReferralCompany']])

In [119]:
# drop old columns before merging in the binarized ones:
df_ana.drop(labels=['Budget', 'CareLevel', 'Gender', 'Marital', 'Veteran', 'CurrentResidence', 'UnitPreference', 
                             'ProvidedEmail', 'ProvidedPhone', 'RequestedVisit', 'NoCall', 'NoEmail', 'ReferralCompany'],
           axis=1, 
           inplace=True)

In [120]:
df_ana_2 = pd.concat([df_ana, dums], axis=1)

In [121]:
df_ana_2.shape

(178478, 61)

In [122]:
df_ana_2.columns.values

array(['CommunityCode', 'CommunityZipCode', 'ProspectID', 'AgeatInquiry',
       'ZipCode', 'InquiryDate', 'ProjectedMoveIn', 'DeactDate',
       'DeactReason', 'NotQual', 'CurrentStatus', 'Assessment', 'Call',
       'Community Event', 'Email', 'Gift', 'Mass Communication',
       'Personal Letter', 'Short Stay', 'Text Message', 'Tour', 'Visit',
       'converted', 'Veteran', 'ProvidedEmail', 'ProvidedPhone',
       'RequestedVisit', 'NoCall', 'NoEmail', 'Budget_0-1,000',
       'Budget_1,000-2,000', 'Budget_2,000-3,000', 'Budget_3,000-4,000',
       'Budget_4,000-5,000', 'Budget_5,000 +', 'CareLevel_A',
       'CareLevel_F', 'CareLevel_I', 'CareLevel_M', 'CareLevel_S',
       'Gender_Female', 'Gender_Male', 'Marital_Divorced',
       'Marital_Married', 'Marital_Single', 'Marital_Widow',
       'CurrentResidence_Living at Home',
       'CurrentResidence_Living with Family',
       'CurrentResidence_Rental Apartment',
       'CurrentResidence_Senior Community', 'UnitPreference_1 Bed',
       'UnitPreference_2 Bed', 'UnitPreference_3 Bed',
       'UnitPreference_Cottage/Villa', 'UnitPreference_Semi-Private',
       'UnitPreference_Studio', 'ReferralCompany_A Place for Mom',
       'ReferralCompany_Caring.com', 'ReferralCompany_Other',
       'ReferralCompany_SeniorLiving.net',
       'ReferralCompany_Seniorhomes.com'], dtype=object)

In [123]:
df_ana_2.drop(labels=['InquiryDate', 'DeactDate', 'DeactReason', 'CurrentStatus'], axis=1, inplace=True)

In [124]:
# fill numerical NAs with 0s:
df_ana_2['AgeatInquiry'] = df_ana_2['AgeatInquiry'].fillna(df_ana_2['AgeatInquiry'].mean())

In [127]:
df_ana_2.columns.values

array(['CommunityCode', 'CommunityZipCode', 'ProspectID', 'AgeatInquiry',
       'ZipCode', 'ProjectedMoveIn', 'NotQual', 'Assessment', 'Call',
       'Community Event', 'Email', 'Gift', 'Mass Communication',
       'Personal Letter', 'Short Stay', 'Text Message', 'Tour', 'Visit',
       'converted', 'Veteran', 'ProvidedEmail', 'ProvidedPhone',
       'RequestedVisit', 'NoCall', 'NoEmail', 'Budget_0-1,000',
       'Budget_1,000-2,000', 'Budget_2,000-3,000', 'Budget_3,000-4,000',
       'Budget_4,000-5,000', 'Budget_5,000 +', 'CareLevel_A',
       'CareLevel_F', 'CareLevel_I', 'CareLevel_M', 'CareLevel_S',
       'Gender_Female', 'Gender_Male', 'Marital_Divorced',
       'Marital_Married', 'Marital_Single', 'Marital_Widow',
       'CurrentResidence_Living at Home',
       'CurrentResidence_Living with Family',
       'CurrentResidence_Rental Apartment',
       'CurrentResidence_Senior Community', 'UnitPreference_1 Bed',
       'UnitPreference_2 Bed', 'UnitPreference_3 Bed',
       'UnitPreference_Cottage/Villa', 'UnitPreference_Semi-Private',
       'UnitPreference_Studio', 'ReferralCompany_A Place for Mom',
       'ReferralCompany_Caring.com', 'ReferralCompany_Other',
       'ReferralCompany_SeniorLiving.net',
       'ReferralCompany_Seniorhomes.com'], dtype=object)

Pull in zipcode lat / long data

In [132]:
zips = pd.read_csv('zips', sep=',')

In [140]:
zips.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

In [152]:
df_ana_3 = pd.merge(df_ana_2, zips, how='left', left_on='CommunityZipCode', right_on='ZIP')
df_ana_3.rename(columns={'LAT': 'community-lat', 'LNG': 'community-long'}, inplace=True)

In [153]:
df_ana_3.head()

,CommunityCode,CommunityZipCode,ProspectID,AgeatInquiry,ZipCode,ProjectedMoveIn,NotQual,Assessment,Call,Community Event,...,UnitPreference_Semi-Private,UnitPreference_Studio,ReferralCompany_A Place for Mom,ReferralCompany_Caring.com,ReferralCompany_Other,ReferralCompany_SeniorLiving.net,ReferralCompany_Seniorhomes.com,ZIP,community-lat,community-long
0,731.0,54311.0,0f0d9652-7697-4d03-84da-000137b878db,81.573214,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,54311.0,44.480461,-87.892165
1,415.0,60010.0,59a04927-19ee-42de-840f-545a4e8b5533,77.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,60010.0,42.146494,-88.164651
2,491.0,30052.0,87305eb0-2ed2-430c-9b4e-00019a38134a,81.573214,NaN,NaN,NaN,0.0,3.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,30052.0,33.815151,-83.893561
3,775.0,33462.0,50dd6777-4333-48bb-9ac5-00041d493ef0,81.573214,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,33462.0,26.580020,-80.072282
4,492.0,33021.0,f7ce16ab-bbaf-45ae-be5b-0004e020269f,81.573214,NaN,NaN,NaN,0.0,3.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,33021.0,26.023130,-80.186539

In [154]:
df_ana_4 = pd.merge(df_ana_3, zips, how='left', left_on='ZipCode', right_on='ZIP')
df_ana_4.rename(columns={'LAT': 'customer-lat', 'LNG': 'customer-long'}, inplace=True)

In [155]:
df_ana_4.columns.values

array(['CommunityCode', 'CommunityZipCode', 'ProspectID', 'AgeatInquiry',
       'ZipCode', 'ProjectedMoveIn', 'NotQual', 'Assessment', 'Call',
       'Community Event', 'Email', 'Gift', 'Mass Communication',
       'Personal Letter', 'Short Stay', 'Text Message', 'Tour', 'Visit',
       'converted', 'Veteran', 'ProvidedEmail', 'ProvidedPhone',
       'RequestedVisit', 'NoCall', 'NoEmail', 'Budget_0-1,000',
       'Budget_1,000-2,000', 'Budget_2,000-3,000', 'Budget_3,000-4,000',
       'Budget_4,000-5,000', 'Budget_5,000 +', 'CareLevel_A',
       'CareLevel_F', 'CareLevel_I', 'CareLevel_M', 'CareLevel_S',
       'Gender_Female', 'Gender_Male', 'Marital_Divorced',
       'Marital_Married', 'Marital_Single', 'Marital_Widow',
       'CurrentResidence_Living at Home',
       'CurrentResidence_Living with Family',
       'CurrentResidence_Rental Apartment',
       'CurrentResidence_Senior Community', 'UnitPreference_1 Bed',
       'UnitPreference_2 Bed', 'UnitPreference_3 Bed',
       'UnitPreference_Cottage/Villa', 'UnitPreference_Semi-Private',
       'UnitPreference_Studio', 'ReferralCompany_A Place for Mom',
       'ReferralCompany_Caring.com', 'ReferralCompany_Other',
       'ReferralCompany_SeniorLiving.net',
       'ReferralCompany_Seniorhomes.com', 'ZIP_x', 'community-lat',
       'community-long', 'ZIP_y', 'customer-lat', 'customer-long'], dtype=object)

In [156]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [163]:
df_ana_4.loc[df_ana_4['ZipCode'] == 85373.0].head()

,CommunityCode,CommunityZipCode,ProspectID,AgeatInquiry,ZipCode,ProjectedMoveIn,NotQual,Assessment,Call,Community Event,...,ReferralCompany_Caring.com,ReferralCompany_Other,ReferralCompany_SeniorLiving.net,ReferralCompany_Seniorhomes.com,ZIP_x,community-lat,community-long,ZIP_y,customer-lat,customer-long
170694,327.0,85373.0,6ee51087-9e60-4df9-86a7-2bd926322e84,81.573214,85373.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,85373.0,33.671423,-112.299656,85373.0,33.671423,-112.299656
170695,327.0,85373.0,6f8238fa-f262-4477-913d-2bfe17cccc2f,81.573214,85373.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,85373.0,33.671423,-112.299656,85373.0,33.671423,-112.299656
170696,327.0,85373.0,3f8b2eb7-66fc-4d65-83ba-a4d7bb26ebff,81.573214,85373.0,NaN,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,85373.0,33.671423,-112.299656,85373.0,33.671423,-112.299656
170697,327.0,85373.0,e29178e1-774a-4f41-aa81-a4cf6064b14d,81.573214,85373.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,85373.0,33.671423,-112.299656,85373.0,33.671423,-112.299656
170698,327.0,85373.0,c9b075ca-bd9c-4f64-a494-a5e1cd20bdae,81.573214,85373.0,NaN,NaN,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,85373.0,33.671423,-112.299656,85373.0,33.671423,-112.299656

In [164]:
#df_ana_4[['community-long', 'community-lat', 'customer-long', 'customer-lat']].apply(haversine_np, axis=1)
df_ana_4['distance'] = df_ana_4.apply(lambda row: 
                                      haversine_np(
                                        row['community-long'], 
                                        row['community-lat'],
                                        row['customer-long'], 
                                        row['customer-lat']
                                       ), axis=1)

In [171]:
df_ana_4.distance.value_counts()

0.000000       15654
4.930139         208
6.354992         159
12.826032        159
10.731498        159
7.106762         148
7.434722         147
4.613504         120
19.304473        118
9.148307         112
5.560792         111
12.880450        111
12.009717        107
3160.053115      100
11.287914         99
6.268026          98
6.573225          98
7.728175          97
15.171605         96
5.287086          95
17.386937         94
8.024344          91
32.147457         90
10.215652         89
33.235676         89
15.740207         86
13.483691         86
17.251533         86
3.261498          84
19.568931         84
               ...
182.821355         1
181.258281         1
180.220745         1
179.372573         1
178.659422         1
177.350047         1
175.344541         1
174.293935         1
172.996723         1
171.075413         1
170.453908         1
190.302368         1
193.020555         1
194.611323         1
209.057051         1
218.051620         1
216.722690         1
215.890793         1
214.015467         1
213.540873         1
211.588092         1
208.573831         1
195.455256         1
206.288724         1
204.452834         1
203.239689         1
200.170626         1
199.855584         1
197.650615         1
114.446002         1
Name: distance, dtype: int64

In [ ]:
df_ana_4.drop(labels=[])